.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #310940;

  width: 100vw;
  padding: 50px 100px;

  position: fixed;
  top: 0px;

  z-index: 1;

  button {
    width: 169px;
  }

  > img {
    width: 143px;
    height: 64px;
  }

  nav {
    display: flex;
    gap: 32px;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: #ff6978;
      }
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
